In [3]:
import pandas as pd

data = pd.read_csv("kk_proj4_json.csv")
data

,Unnamed: 0,Job Title,Company,multiple_details,Description
0,0,Data Scientist,Fundo Loans,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...",We are scaling up! An exciting opportunity exi...
1,1,Data Analyst,AIA Australia Limited,"['Melbourne', 'CBD & Inner Suburbs', 'Banking ...",The focus of this role is to provide support t...
2,2,Junior Business Intelligence Analyst,Hays Talent Solutions,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...","Your new companyAt Hays, we are on a journey t..."
3,3,Data Analyst,Atos Australia,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...",About Atos:Atos is a global leader in digital ...
4,4,Data Analyst,Infrastructure Partnerships Australia,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...",About Infrastructure Partnerships AustraliaInf...
...,...,...,...,...,...
1074,534,Data Analyst,Aurec,"['ACT', 'Information & Communication Technolog...",We are looking to engage a skilled and enthusi...
1075,535,Senior Data Analyst - NSW Government,Talenza,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...",Senior Data Analyst - NSW GovernmentLocation: ...
1076,536,Principal Engineer (Knowledge Graph),SEEK Limited,"['Melbourne', 'CBD & Inner Suburbs', 'Informat...",Company DescriptionAbout SEEKSEEK’s portfolio ...
1077,537,Data Management Analyst,Humanised Group,"['Brisbane', 'CBD & Inner Suburbs', 'Informati...",About the role:In this role you will be requir...
1078,538,Sales Analyst,B&R Enclosures Pty Ltd,"['Brisbane', 'CBD & Inner Suburbs', 'Sales', '...",The Role Based in our Brisbane head office in ...

In [4]:
data.head()

,Unnamed: 0,Job Title,Company,multiple_details,Description
0,0,Data Scientist,Fundo Loans,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...",We are scaling up! An exciting opportunity exi...
1,1,Data Analyst,AIA Australia Limited,"['Melbourne', 'CBD & Inner Suburbs', 'Banking ...",The focus of this role is to provide support t...
2,2,Junior Business Intelligence Analyst,Hays Talent Solutions,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...","Your new companyAt Hays, we are on a journey t..."
3,3,Data Analyst,Atos Australia,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...",About Atos:Atos is a global leader in digital ...
4,4,Data Analyst,Infrastructure Partnerships Australia,"['Sydney', 'CBD, Inner West & Eastern Suburbs'...",About Infrastructure Partnerships AustraliaInf...

In [5]:
# string form of list
data.multiple_details.head().values

array(["['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Information & Communication Technology', 'Engineering - Software', '$110,000 - $149,999', 'Full time']",
       "['Melbourne', 'CBD & Inner Suburbs', 'Banking & Financial Services', 'Analysis & Reporting', 'Full time']",
       "['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Information & Communication Technology', 'Business/Systems Analysts', 'Full time']",
       "['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Information & Communication Technology', 'Business/Systems Analysts', 'Full time']",
       "['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Consulting & Strategy', 'Analysts', 'Full time']"],
      dtype=object)

In [6]:
# parse string into list using ast
import ast
data['multiple_details_lst'] = data.multiple_details.apply(lambda x: ast.literal_eval(x))

In [7]:
# check length of lists
data['items'] = data.multiple_details_lst.apply(lambda x:len(x))
data['items'].value_counts()

5    653
6    277
4    149
Name: items, dtype: int64

In [8]:
# hypothesis - lists of different lengths have different features.
# features are based on their index in the list
# features share the same index in the list. 

# region, industry, role_type, offer_type
data.loc[(data['items']==4),'multiple_details_lst'].sample(10).values

array([list(['Gold Coast', 'Sales', 'Analysis & Reporting', 'Full time']),
       list(['Sydney', 'Banking & Financial Services', 'Analysis & Reporting', 'Full time']),
       list(['Ballarat & Central Highlands', 'Information & Communication Technology', 'Business/Systems Analysts', 'Contract/Temp']),
       list(['Brisbane', 'Advertising, Arts & Media', 'Other', 'Full time']),
       list(['Newcastle, Maitland & Hunter', 'Information & Communication Technology', 'Business/Systems Analysts', 'Full time']),
       list(['Adelaide', 'Information & Communication Technology', 'Developers/Programmers', 'Full time']),
       list(['Melbourne', 'Information & Communication Technology', 'Business/Systems Analysts', 'Casual/Vacation']),
       list(['Brisbane', 'Accounting', 'Analysis & Reporting', 'Contract/Temp']),
       list(['Newcastle, Maitland & Hunter', 'Information & Communication Technology', 'Business/Systems Analysts', 'Full time']),
       list(['Hobart', 'Science & Technology', 'Other', 'Full time'])],
      dtype=object)

In [9]:
# region, sub-region, industry, role_type, offer_type
data.loc[(data['items']==5),'multiple_details_lst'].sample(10).values

array([list(['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Banking & Financial Services', 'Analysis & Reporting', 'Full time']),
       list(['Sydney', 'Parramatta & Western Suburbs', 'Information & Communication Technology', 'Business/Systems Analysts', 'Full time']),
       list(['Brisbane', 'CBD & Inner Suburbs', 'Information & Communication Technology', 'Business/Systems Analysts', 'Full time']),
       list(['ACT', 'Government & Defence', 'Government - Federal', '+ 10% super', 'Contract/Temp']),
       list(['Brisbane', 'CBD & Inner Suburbs', 'Information & Communication Technology', 'Database Development & Administration', 'Contract/Temp']),
       list(['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Information & Communication Technology', 'Business/Systems Analysts', 'Part time']),
       list(['ACT', 'Science & Technology', 'Biotechnology & Genetics', 'AU$87K to AU$111K pa + up to 15.4% superannuation', 'Full time']),
       list(['South West Coast VIC', 'Information & Communication Technology', 'Business/Systems Analysts', '$53.63 per hour', 'Contract/Temp']),
       list(['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Accounting', 'Analysis & Reporting', 'Full time']),
       list(['Brisbane', 'CBD & Inner Suburbs', 'Information & Communication Technology', 'Database Development & Administration', 'Full time'])],
      dtype=object)

In [10]:
# region, sub-region, industry, role_type, renumeration, offer_type
data.loc[(data['items']==6),'multiple_details_lst'].sample(10).values

array([list(['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Government & Defence', 'Government - Federal', '$69,811 - $95,873 (plus Super)', 'Full time']),
       list(['Sydney', 'Parramatta & Western Suburbs', 'Information & Communication Technology', 'Business/Systems Analysts', '+super+bonus+medical+insurance+', 'Full time']),
       list(['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Information & Communication Technology', 'Consultants', 'super', 'Full time']),
       list(['Melbourne', 'CBD & Inner Suburbs', 'Information & Communication Technology', 'Database Development & Administration', '$700 - $900 per day, Initial 6 month contract ', 'Contract/Temp']),
       list(['Melbourne', 'CBD & Inner Suburbs', 'Information & Communication Technology', 'Other', 'Attractive salary package + bonus + benefits', 'Full time']),
       list(['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Information & Communication Technology', 'Other', '$95-$105K + super + salary sacrifice', 'Full time']),
       list(['Melbourne', 'CBD & Inner Suburbs', 'Information & Communication Technology', 'Database Development & Administration', '$165k + many perks', 'Full time']),
       list(['Sydney', 'CBD, Inner West & Eastern Suburbs', 'Information & Communication Technology', 'Security', '$70,000 - $75,000', 'Full time']),
       list(['Brisbane', 'CBD & Inner Suburbs', 'Information & Communication Technology', 'Developers/Programmers', '$50 - $59.99 per hour', 'Contract/Temp']),
       list(['Melbourne', 'CBD & Inner Suburbs', 'Call Centre & Customer Service', 'Management & Support', '$60000 per annum, Benefits: inclusive super', 'Contract/Temp'])],
      dtype=object)

In [11]:
# example parser function
def list_to_dict(row):
    d = dict()
    if row['items'] ==4:
        # region, industry, role_type, offer_type
        d['region'] = row['multiple_details_lst'][0]
        d['industry'] = row['multiple_details_lst'][1]
        d['role_type'] = row['multiple_details_lst'][2]
        d['offer_type'] = row['multiple_details_lst'][3]
    if row['items'] ==5:
        # region, sub_region, industry, role_type, offer_type
        d['region'] = row['multiple_details_lst'][0]
        d['sub_region'] = row['multiple_details_lst'][1]
        d['industry'] = row['multiple_details_lst'][2]
        d['role_type'] = row['multiple_details_lst'][3]
        d['offer_type'] = row['multiple_details_lst'][4]
    if row['items'] ==6:
        # region, sub-region, industry, role_type, renumeration, offer_type
        d['region'] = row['multiple_details_lst'][0]
        d['sub_region'] = row['multiple_details_lst'][1]
        d['industry'] = row['multiple_details_lst'][2]
        d['role_type'] = row['multiple_details_lst'][3]
        d['renumeration'] = row['multiple_details_lst'][4] 
        d['offer_type'] = row['multiple_details_lst'][5]        
    return d

data['multiple_items_dict'] = data.apply(list_to_dict,axis=1)
data['multiple_items_dict'].head().values

array([{'region': 'Sydney', 'sub_region': 'CBD, Inner West & Eastern Suburbs', 'industry': 'Information & Communication Technology', 'role_type': 'Engineering - Software', 'renumeration': '$110,000 - $149,999', 'offer_type': 'Full time'},
       {'region': 'Melbourne', 'sub_region': 'CBD & Inner Suburbs', 'industry': 'Banking & Financial Services', 'role_type': 'Analysis & Reporting', 'offer_type': 'Full time'},
       {'region': 'Sydney', 'sub_region': 'CBD, Inner West & Eastern Suburbs', 'industry': 'Information & Communication Technology', 'role_type': 'Business/Systems Analysts', 'offer_type': 'Full time'},
       {'region': 'Sydney', 'sub_region': 'CBD, Inner West & Eastern Suburbs', 'industry': 'Information & Communication Technology', 'role_type': 'Business/Systems Analysts', 'offer_type': 'Full time'},
       {'region': 'Sydney', 'sub_region': 'CBD, Inner West & Eastern Suburbs', 'industry': 'Consulting & Strategy', 'role_type': 'Analysts', 'offer_type': 'Full time'}],
      dtype=object)

In [12]:
# and then pull out of dict to rows using get (for error managing if the dict doesn't have that key)
data['region'] = data.multiple_items_dict.apply(lambda x: x.get('region'))
data['sub_region'] = data.multiple_items_dict.apply(lambda x: x.get('sub_region'))
data['industry'] = data.multiple_items_dict.apply(lambda x: x.get('industry'))
data['role_type'] = data.multiple_items_dict.apply(lambda x: x.get('role_type'))
data['renumeration'] = data.multiple_items_dict.apply(lambda x: x.get('renumeration'))
data['offer_type'] = data.multiple_items_dict.apply(lambda x: x.get('offer_type'))

In [13]:
# you will still need regex to get the numeric values out
data.renumeration.value_counts()

$75,200 to $84,468 plus 15.4% super                   8
Attractive salary package + bonus + benefits          6
$70,000 - $75,000                                     4
$130,000 - $149,999                                   4
Competitive Salary & Flexible Working Arrangements    4
                                                     ..
$600 - $725 per day                                   1
$836 per day + super                                  1
$850 - $875 p.d. incl. Super                          1
$100 - $106.25 p.h.                                   1
$110k - $140k p.a.                                    1
Name: renumeration, Length: 186, dtype: int64

In [14]:
# maybe there's some fun in looking at offer types
data.offer_type.value_counts()

Full time          812
Contract/Temp      256
Part time            6
Casual/Vacation      5
Name: offer_type, dtype: int64